*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 15px 20px;
}

nav .logo img {
  width: 50px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.nav_toggler {
  cursor: pointer;
  display: none;
}

.nav_toggler div {
  margin: 5px;
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.5s ease-in-out;
}

.nav_toggler .line-2 {
  background-color: rgb(134, 134, 252);
}

@media (max-width: 768px) {

  .nav_toggler {
    display: block;
  }

  .nav_toggler.icon-active .line-1 {
    transform: rotate(-45deg) translate(-12px);
  }
  .nav_toggler.icon-active .line-2 {
    opacity: 0;
  }
  .nav_toggler.icon-active .line-3 {
    transform: rotate(45deg) translate(-11px);
  }

  .menu-item {
    position: absolute;
    top: 70px;
    left: 0;
    flex-direction: column;
    background-color: black;
    height: 80vh;
    width: 60%;
    transition: all 0.5s ease-in-out;
    transform: translate(-100%);
    align-items: flex-start;
    padding-top: 20px;
  }

  .menu-item li{
    padding: 10px 20px;
  
  }
  .menu-active {
  transform: translate(0%);
}


}

